build/
node_modules/
package-lock.json
codegen/target
codegen/Cargo.lock
src/node.hpp
src/node.cpp
src/message.hpp
src/message.cpp

lib-ruby-parser.a
src/lib-ruby-parser.hpp

types.d.ts

pkg/LICENSE
pkg/README.md
pkg/*.node
pkg/index.d.ts
